<%- include("partials/header.ejs") -%>

<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form action="/client" method="post">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <label for="floatingInput">Email address</label>
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          name="email"
        />
      </div>
      <br />
      <div class="form-floating">
        <label for="floatingPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="pwd"
        />
      </div>
      <br />

      <button class="w-100 btn btn-lg btn-primary" type="submit" name="signin">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </main>
</body>

<%- include("partials/footer.ejs") -%>
