<%- include("partials/header.ejs") -%>

<form action="/" method="post">
  <button type="submit" name="client"><a href="/client">Client</a></button>
  <button type="submit" name="agent"><a href="/agent">Agent</a></button>
</form>

<%- include("partials/footer.ejs") -%>
